.tour-card {
  border: 2px solid black;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px;
}

.tour-info {
  border-right: 3px solid goldenrod;
  width: 80%;
}

.tour-data {
  margin-left: 20px;
  font-weight: 600;
}

.tour-function {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.status {
  font-weight: bold;
  color: red;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  .tour-card {
    flex-direction: column;
    width: 100%;
    font-size: 15px;
  }
  .tour-info {
    border-right: none;
    width: 100%;
  }
}
