.about-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.about-img img {
  width: 500px;
  padding: 0 10px;
}

.about-info {
  padding: 0 20px;
}

.about-heading {
  text-align: center;
  padding: 20px 0;
}

.about-para {
  text-align: justify;
}

@media screen and (max-width: 500px) {
  .about-container {
    flex-direction: column;
  }
  .about-img img {
    width: 350px;
  }
}
