.photo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.serviceImg {
  width: 400px;
  height: 300px;
  margin: 15px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  border: 5px solid gray;
}

.serviceImg:hover {
  border: none;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

@media screen and (max-width: 500px) {
  .serviceImg {
    width: 350px;
    margin: 15px 0;
  }
}
