.event-card {
  margin: 10px;
  box-shadow: 10px 10px 30px rgba(92, 87, 87, 0.469), -10px -10px 30px #eee;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.event-card:hover {
  box-shadow: 5px 5px 10px #eee, -5px -5px 10px #ddd;
}
.event-img-container {
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.event-img-container img {
  width: 300px;
  height: 200px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.event-info-container {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 0;
}

.event-card:hover .event-img-container img {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
