.service-card {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 10px;
  color: white;
}

.service-img {
  overflow: hidden;
  width: 500px;
}

.service-photo {
  width: 500px;
  height: 300px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.service-card:hover .service-photo {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  overflow: hidden;
}

.service-name,
.service-descrip {
  color: white;
}

.service-info {
  width: 450px;
  padding: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.469);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: none;
  transition: 0.8s all;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
}

.service-card:hover .service-info {
  display: block;
}

@media screen and (max-width: 500px) {
  .service-card {
    width: 100%;
    margin: 20px 0;
  }
  .service-img,
  .service-photo {
    width: 350px;
  }
  .service-info {
    width: 300px;
  }
}
